a {
    text-decoration: none;    
}

ul {
    list-style: none;
    padding: 0;
}

 button {
    border: none;
    padding: 0;
 }

 .container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
 }